@model SGB_Beta1.Models.Contratos
<hr />
<h3>Contratos Rápido</h3>

<div class="form-group col-md-12">
    @Html.LabelFor(model => model.Nome, new { @class = "control-label col-md-2" })
    <div class="col-md-7">
        @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
    </div>
</div>

<div class="form-group col-md-12">
    @Html.LabelFor(model => model.RG, new { @class = "control-label col-md-2" })
    <div class="col-md-7">
        @Html.TextBoxFor(model => model.RG, new { @class = "form-control" })
    </div>
</div>

<div class="form-group col-md-12">
    @Html.LabelFor(model => model.CPF, new { @class = "control-label col-md-2" })
    <div class="col-md-7">
        @Html.TextBoxFor(model => model.CPF, new { @class = "form-control" })
    </div>
</div>

<div class="form-group col-md-12">
    @Html.LabelFor(model => model.Endereco, new { @class = "control-label col-md-2" })
    <div class="col-md-7">
        @Html.TextBoxFor(model => model.Endereco, new { @class = "form-control" })
    </div>
</div>

<div class="form-group col-md-12">
    @Html.LabelFor(model => model.Fone, new { @class = "control-label col-md-2" })
    <div class="col-md-7">
        @Html.TextBoxFor(model => model.Fone, new { @class = "form-control" })
    </div>
</div>

<div class="form-group col-md-12">
    @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
    <div class="col-md-7">
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
    </div>
</div>

<div class="form-group col-md-12">
    @Html.LabelFor(model => model.Animal, new { @class = "control-label col-md-2" })
    <div class="col-md-7">
        @Html.TextBoxFor(model => model.Animal, new { @class = "form-control" })
    </div>
</div>


<div class="col-md-12 linha-sup-cinza">
    <input type="submit" class="btn btn-primary" value="Imprimir" />
</div>

<hr />
