@model SGB_Beta1.Models.Pedido

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar</h2>

@using (Html.BeginForm("Editar", "Vendas", FormMethod.Post, new { @class = "form-horizontal" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Pedidos</legend>

        @Html.HiddenFor(model => model.PedidoID)

        <div class="form-group col-md-12">            
            @Html.LabelFor(model => model.Produto, new { @class = "control-label col-md-2" })
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.Produto, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.ValidationMessageFor(model => model.Produto, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-12">
            @Html.LabelFor(model => model.ValorUnit, new { @class = "control-label col-md-2" })
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.ValorUnit, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.ValidationMessageFor(model => model.ValorUnit, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-12">
            @Html.LabelFor(model => model.Quantia, new { @class = "control-label col-md-2" })

            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Quantia, new { @class = "numero form-control" })
            </div>
            <div class="col-md-3">
                @Html.ValidationMessageFor(model => model.Quantia, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-12">
            @Html.LabelFor(model => model.Desconto, new { @class = "control-label col-md-2" })
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.Desconto, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.ValidationMessageFor(model => model.Desconto, null, new { @class = "text-danger" })
            </div>
        </div>                

        <div class="form-group col-md-12">
            @Html.LabelFor(model => model.ValorTotal, new { @class = "control-label col-md-2" })

            <div class="col-md-7">
                @Html.TextBoxFor(model => model.ValorTotal, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.ValidationMessageFor(model => model.ValorTotal, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-12 linha-sup-cinza">
            <input type="submit" class="btn btn-primary" value="Salvar" />
            @Html.ActionLink("Voltar", "../Vendas/Criar", null, new { id = "addItem", @class = "btn btn-success" })
        </div>
    </fieldset>
}


@section scripts
{
    <script>
        jQuery(function ($) {
            $('.numero').keyup(function () {
                this.value = this.value.replace(/[^0-9\.]/g, '');
            });
        });
    </script>
}