@model SGB_Beta1.Models.Produtos

@{
    ViewBag.Title = "Deletar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deletar</h2>

<h3>Tem certeza que deseja excluir?</h3>
<fieldset>
    <legend>Produtos</legend>

    <table border="0">
           <tr>
               <td>
                   <div class="display-label">
                       @Html.LabelFor(model => model.Codigo, new { @class = "control-label col-md-2" })
                   </div>
               </td>
               <td>       
                   <div class="display-field">
                       @Html.DisplayFor(model => model.Codigo)
                   </div>
               </td>
           </tr>
        <tr>
            <td>
                <div class="display-label">
                   @Html.LabelFor(model => model.Descricao, new { @class = "control-label col-md-2" })
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Descricao)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.LabelFor(model => model.Quantidade, new { @class = "control-label col-md-2" })
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Quantidade)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.LabelFor(model => model.Valor, new { @class = "control-label col-md-2" })
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Valor)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                   @Html.LabelFor(model => model.Validade, new { @class = "control-label col-md-2" })
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Validade)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                 @Html.LabelFor(model => model.ICMS, new { @class = "control-label col-md-2" })
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.ICMS)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                  @Html.LabelFor(model => model.Unidade, new { @class = "control-label col-md-2" })
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Unidade)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.LabelFor(model => model.Observacao, new { @class = "control-label col-md-2" })
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Observacao)
                </div>
            </td>
        </tr>
    </table>
</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>

        <div class="col-md-12 linha-sup-cinza">
            <input type="submit" class="btn btn-primary" value="Deletar" onclick="return confirm('Você confirma esta ação?');" />
            @Html.ActionLink("Voltar", "../Home/Produtos", null, new { id = "addItem", @class = "btn btn-success" })
        </div>
    </p>
}
